.main {
  height: calc(100vh - 148px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.account{
  max-width: 100%;
  min-width: 250px;
  position: relative;
  cursor: pointer;
}

.accountbg {
  width: 100%;
  opacity: 0.3; 
}
.info-account{
  position: absolute;
  top: 30px;
  left:30px;
  color: white;
}

.title-account, .balance-account{
  font-weight: 400;
  font-family: "Space Grotesk", sans-serif;
}

.title-account{
  font-size: 32px;
}

.balance-account{
  font-size: 45px;
  color: rgba(248, 248, 248, 1);
}

.currency{
  position: absolute;
  top: 20px;
  right: 40px;
  padding: 10px 20px;
  border-radius: 50%;
  background-color: white;
}

.btn-secondary{
  position: absolute;
  bottom: 30px;
  right: 25px;
  background-color: transparent;
  color: rgba(55, 55, 55, 1);
  border: none;
}

.noacc{
  padding: 50px 10px;
  background-color: rgb(185, 226, 230);
  text-align: center;
  border-radius: 12px;
}

.fa-credit-card{
  background: -webkit-linear-gradient(#c23232, #330101);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 7px;
}

.active{
  opacity: 1 !important;
}

.accountbg {

  -webkit-transition: all .2s ease-in-out;

}

.accountbg:hover {
  -webkit-transform: scale(1.01);
}

@media only screen and (max-width: 1250px) {
  .info-account{
    top: 20px;
  }
  .title-account{
    font-size: 24px;
  }
  .balance-account{
    font-size: 30px;
  }

}