<section class="main">
  <div class="actions">
    <div (click)="searchType(transactionType.Income)" class="type">
      <a class="arrow arrow-down">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19" fill="none">
          <path
            d="M7.29289 17.9925C7.68342 18.383 8.31658 18.383 8.70711 17.9925L15.0711 11.6285C15.4616 11.238 15.4616 10.6049 15.0711 10.2143C14.6805 9.82381 14.0474 9.82381 13.6569 10.2143L8 15.8712L2.34315 10.2143C1.95262 9.82381 1.31946 9.82381 0.928932 10.2143C0.538408 10.6049 0.538408 11.238 0.928932 11.6285L7.29289 17.9925ZM7 0.2854L7 17.2854H9L9 0.2854L7 0.2854Z"
            fill="white" />
        </svg>
      </a>
      <p class="type-text">Income</p>
    </div>

    <div (click)="searchType(transactionType.Expenses)" class="type">
      <a class="arrow arrow-up">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19" fill="none">
          <path
            d="M8.70711 1.07829C8.31658 0.687769 7.68342 0.687769 7.29289 1.07829L0.928932 7.44226C0.538408 7.83278 0.538408 8.46594 0.928932 8.85647C1.31946 9.24699 1.95262 9.24699 2.34315 8.85647L8 3.19961L13.6569 8.85647C14.0474 9.24699 14.6805 9.24699 15.0711 8.85647C15.4616 8.46594 15.4616 7.83278 15.0711 7.44226L8.70711 1.07829ZM9 18.7854L9 1.7854H7L7 18.7854H9Z"
            fill="white" />
        </svg>
      </a>
      <p class="type-text">Expenses</p>
    </div>

    <div class="type type-add">
      <a class="arrow add" (click)="toggleOverlay('Transaction')">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path d="M7.38 17.4533V10.4933H0.5V7.61334H7.38V0.653345H10.42V7.61334H17.3V10.4933H10.42V17.4533H7.38Z"
            fill="#86C9CF" />
        </svg>
      </a>
      <p class="type-text">Add Transaction</p>
    </div>

    <div class="type type-add">
      <a class="arrow add" (click)="toggleOverlay('Account')">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path d="M7.38 17.4533V10.4933H0.5V7.61334H7.38V0.653345H10.42V7.61334H17.3V10.4933H10.42V17.4533H7.38Z"
            fill="#86C9CF" />
        </svg>
      </a>
      <p class="type-text">Add Account</p>

      <div *ngIf="showOverlay" class="left-overlay" (click)="toggleOverlay()"></div>
      <div *ngIf="showOverlay" class="right-overlay">

        <div class="head-overlay">
          <h1 class="title-overlay">Add {{formDisplayText}}</h1>
          <a (click)="toggleOverlay()" class="close-overlay">
            <img src="../../../assets/close.png" alt="" width="30px" height="30px">
          </a>
        </div>

        <div *ngIf="showAccountAdd">
          <app-account-add (closeForm)="toggleOverlay()"></app-account-add>
        </div>

        <div *ngIf="showTransactionAdd">
          <app-transaction-add (closeForm)="toggleOverlay()"></app-transaction-add>
        </div>

        <div *ngIf="showPiggyBankAdd">
          <app-piggy-bank-add (closeForm)="toggleOverlay()"></app-piggy-bank-add>
        </div>

      </div>
    </div>
  </div>

  <div class="piggy">

    <div class="type type-add">
      <a class="arrow add" (click)="toggleOverlay('Piggy Bank')">
        <img src="../../../assets/pig.png" alt="" height="25" width="45">
      </a>
      <p class="type-text">Add Piggy Bank</p>
    </div>

    <div *ngFor="let i of piggyBanks" class="type type-add piggyBank">
      <a class="arrow add">
        <img src="../../../assets/pig.png" alt="" height="25" width="45">
      </a>
      <div class="kaito">
        <div class="pigs">
          <div>
            <p class="piggy-text">{{i.goal}}</p>
            <small>{{i.savedAmount}}/{{i.goalAmount}} {{activeCard.currency.slice(5,6)}}</small>
          </div>
          <div>
            <a class="arrow add pig-add" (click)="togglePiggy(i)">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path d="M7.38 17.4533V10.4933H0.5V7.61334H7.38V0.653345H10.42V7.61334H17.3V10.4933H10.42V17.4533H7.38Z"
                  fill="rgba(255, 118, 174, 1)" />
              </svg>
            </a>
          </div>
        </div>
        <input type="range" class="styled-range" min="0" [max]="i.goalAmount" [value]="i.savedAmount"
          [style.background]="getRangeBackground(i.savedAmount, i.goalAmount )" />
      </div>

      <div *ngIf="showPiggy" class="secondary-left-overlay" (click)="togglePiggy(i)"></div>
      <div *ngIf="showPiggy" class="secondary-right-overlay">
        <div class="secondary-head-overlay">
          <h1 class="secondary-title-overlay">Piggy Bank Information</h1>
          <div class="secondary-actions">
            <i class="fa-solid fa-pen" (click)="togglePiggy(i, 'edit')"></i>
            <a class="arrow add pig-add piggiko" (click)="addToPiggy()">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path d="M7.38 17.4533V10.4933H0.5V7.61334H7.38V0.653345H10.42V7.61334H17.3V10.4933H10.42V17.4533H7.38Z"
                  fill="rgba(255, 118, 174, 1)" />
              </svg>
            </a>
            <i class="fa-solid fa-x" (click)="togglePiggy()"></i>
          </div>
        </div>
        <app-piggy-bank-info *ngIf="!editPiggyLayout && !addMoneyToPiggy" (reInitialise)="reInitialise()"
          [piggyBankInfo]="selectedPiggy" (closeForm)="togglePiggy()"></app-piggy-bank-info>
        <app-piggy-bank-edit *ngIf="editPiggyLayout" [piggyInfo]="selectedPiggy"
          (closeForm)="togglePiggy()"></app-piggy-bank-edit>
        <app-add-money-to-piggy (closeForm)="togglePiggy()" (reInitialise)="reInitialise()" *ngIf="addMoneyToPiggy"
          [piggyInfo]="selectedPiggy"></app-add-money-to-piggy>
        <button *ngIf="!editPiggyLayout && !addMoneyToPiggy" class="btn btn-secondary"
          (click)="togglePiggy(i)">Close</button>
      </div>
    </div>

  </div>
</section>