@import url('https://fonts.googleapis.com/css2?family=Alata&family=Space+Grotesk:wght@300..700&display=swap');
header{
  padding: 50px 35px 15px 35px;
}
nav{
  width: 100%;
  display: flex;
  gap: 30px;
}


.title{
  width: 30%;
}

.navigation{
  width: 50%;
  display: flex;
  gap: 30px;
  justify-content:space-between;
  align-items: center;
}

.user{
  width: 20%
}

a{
  text-decoration: none;
  font-size: 20px;
  color: rgba(55, 55, 55, 1);
  font-family: "Space Grotesk", sans-serif;

}