@import url('https://fonts.googleapis.com/css2?family=Alata&family=Space+Grotesk:wght@300..700&display=swap');
header{
  padding: 50px 35px 15px 35px;
}
nav{
  width: 100%;
  display: flex;
  gap: 30px;
}


.title{
  width: 30%;
}

.navigation{
  width: 50%;
  display: flex;
  gap: 30px;
  justify-content:space-between;
  align-items: center;
  position: relative;
}

.user{
  width: 20%;
  position: relative;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: rgba(55, 55, 55, 1);
  font-family: "Space Grotesk", sans-serif;

}

.user a:hover{
  color: red;
}


.logout-delete, .confirmation {
  position: absolute;
  bottom: -200px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.329);
  backdrop-filter: blur(5px); 
  width: 270px;
  height: 205px;
}

.confirmation{
  flex-direction: column;
}

.confirmation-text{
  text-transform: capitalize;
  color: white;
  margin: 0;
}