header{
  padding: 50px 35px;
}

nav{
  width: 100%;
  display: flex;
  gap: 100px;
}

.title{
  width: 30%;
}

.navigation{
  width: 50%;
  display: flex;
  gap: 30px;
  justify-content:space-between;
  align-items: center;
  position: relative;
}

.user{
  width: 20%;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: rgba(55, 55, 55, 1);
  font-family: "Space Grotesk", sans-serif;
}

.user a:hover{
  color: red;
}

.logout-delete, .confirmation {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.329);
  backdrop-filter: blur(5px); 
  width: 270px;
  height: 150px;
}

.confirmation{
  flex-direction: column;
}

.confirmation-text{
  text-transform: capitalize;
  color: white;
  margin: 0;
}

.btn-danger{
  margin-right: 7px;
}

.user{
  text-align: right;
}

.close-overlay{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid black;/* Change this to your desired color */
}