<app-header></app-header>
<section class="admin-section">

  <h1>Activate Card</h1>
  <hr>

  <table class="card-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="cards$ | async as cards">
      <tr *ngFor="let card of cards">
        <td class="title">{{ card.title }}</td>
        <td>
          <button (click)="toggleCard(card)" class="activation">
            <span class="text" [ngClass]="{'red': card.isActive, 'green': !card.isActive}">
              {{ card.isActive ? 'Deactivate' : 'Activate' }}
            </span>
          </button>          
        </td>
      </tr>
    </tbody>
  </table>
</section>