<app-header></app-header>
<section style="display: flex; gap: 100px; padding: 0 35px 0 20px;">

  <div class="accounts">
    <app-accounts></app-accounts>
  </div>


  <div class="main">
    <div class="search-container">

      <button class="icon-search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <input type="text" class="search" placeholder="Search">

    </div>
  </div>


  <div class="user-actions">
    <app-user-actions (reInitialiseAccount)="reInitialise()"></app-user-actions>
  </div>

</section>