<app-header></app-header>
<section style="display: flex; gap: 100px; padding: 0 35px 0 20px;">

  <div class="accounts">
    <app-accounts></app-accounts>
  </div>


  <div class="main">
    <div class="search-container">

      <button class="icon-search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <input type="text" class="search" placeholder="Search" [(ngModel)]="searchTerm" (keyup)="filterSubscriptions()">

    </div>

    <div class="date">
      <p>Filter by date: </p>
      <input type="date" class="date-input" [(ngModel)]="selectedDate" (change)="filterSubscriptions()">
    </div>



    <div *ngIf="filteredSubscriptions.length > 0; else noSubscriptions" class="subscriptions-container">
      <div *ngFor="let subscription of filteredSubscriptions" >
        <div class="subscription">
          <div class="subscription-category">
            <button (click)="toggleOverlay('info', subscription)" class="category">
              {{ getFirstWord(subscription.categories) }}
            </button>
          </div>
          <div class="subscription-info">
            <p>{{ subscription.title }}</p>
            <p>Next payment date: <strong>{{ subscription.endDate | date }}</strong></p>
          </div>
          <div class="subscription-amount">
            <p>{{ subscription.amount }} $</p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noSubscriptions>
      <p class="no-subscriptions">No subscriptions found.</p>
    </ng-template>
    

  </div>


  <div class="user-actions">
    <div class="actions">

      <div class="type type-add">
        <a class="arrow add" (click)="toggleOverlay('add')">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M7.38 17.4533V10.4933H0.5V7.61334H7.38V0.653345H10.42V7.61334H17.3V10.4933H10.42V17.4533H7.38Z"
              fill="#86C9CF" />
          </svg>
        </a>
        <p class="type-text">Add Subscription</p>
      </div>

      <div class="type type-add">
        <a class="arrow add">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M7.38 17.4533V10.4933H0.5V7.61334H7.38V0.653345H10.42V7.61334H17.3V10.4933H10.42V17.4533H7.38Z"
              fill="#86C9CF" />
          </svg>
        </a>
        <p class="type-text">Add Transaction</p>
      </div>


      <div *ngIf="showOverlay" class="left-overlay" (click)="toggleOverlay()"></div>
      <div *ngIf="showOverlay" class="right-overlay">

        <div *ngIf="showAddSubscription">
          <div class="head-overlay">
            <h1 class="title-overlay">Add Subscription</h1>
            <a (click)="toggleOverlay()" class="close-overlay">
              <img src="../../../assets/close.png" alt="" width="30px" height="30px">
            </a>
          </div>

          <app-subscription-add (closeForm)="toggleOverlay()"></app-subscription-add>

        </div>
        <app-subscription-info *ngIf="showInfoSubscription" (closeOverlay)="toggleOverlay()"
          [subscription]="selectedSubscription"></app-subscription-info>


      </div>

    </div>
  </div>



</section>