<div class="registration">
  <img class="pig" src="../../../assets/money-savings-currency-fingers 1.png" alt="piggy bank">
  <div class="registration-form">
    <h2 class="budgetify">Budgetify</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" formControlName="name" placeholder="Name" required>
      </div>
      <div class="form-group">
        <input type="email" formControlName="email" placeholder="Email" required>
        <div class="validation"
          *ngIf="registrationForm.get('email')!.invalid && (registrationForm.get('email')!.dirty || registrationForm.get('email')!.touched)">
          <small class="error-message" *ngIf="registrationForm.get('email')!.hasError('required')">Email is
            required</small>
          <small class="error-message" *ngIf="registrationForm.get('email')!.hasError('email')">Invalid email
            format</small>
        </div>
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" placeholder="Password" required>
      </div>
      <div class="form-group">
        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" required>
        <div class="validation" *ngIf="passwordsDoNotMatch() && registrationForm.get('confirmPassword')!.touched">
          <small class="error-message">Passwords do not match</small>
        </div>
      </div>
      <button type="submit" [disabled]="registrationForm.invalid || passwordsDoNotMatch()">Register</button>
    </form>
    <p class="login">Already have an account ? <a routerLink="/login"><strong>Login</strong></a></p>

  </div>

</div>