<app-header></app-header>
<section style="display: flex; gap: 100px; padding: 0 35px 0 20px;">

  <div class="accounts">
    <app-accounts></app-accounts>
  </div>


  <div class="main">
    <div class="search-container">

      <button class="icon-search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <input type="text" class="search" placeholder="Search">

    </div>
  </div>


  <div class="user-actions">
      <div class="actions">


        <div class="type type-add">
          <a class="arrow add" >
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M7.38 17.4533V10.4933H0.5V7.61334H7.38V0.653345H10.42V7.61334H17.3V10.4933H10.42V17.4533H7.38Z"
                fill="#86C9CF" />
            </svg>
          </a>
          <p class="type-text">Add Transaction</p>
        </div>


        <div class="type type-add">
          <a class="arrow add" >
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M7.38 17.4533V10.4933H0.5V7.61334H7.38V0.653345H10.42V7.61334H17.3V10.4933H10.42V17.4533H7.38Z"
                fill="#86C9CF" />
            </svg>
          </a>
          <p class="type-text">Add Obligatory</p>
        </div>

    </div>
  </div>



</section>