/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}

body{
  background-color: #eceded;
}

.accounts{
  width: 30%;
}

.user-actions{
  width: 20%;
}

.main{
  width: 50%;
}