/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Space+Grotesk:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

body{
  background-color: #eceded;
  position: relative;
}

.accounts{
  width: 30%;
}

.user-actions{
  width: 20%;
}

.main{
  width: 50%;
}


.left-overlay, .secondary-left-overlay {

  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  backdrop-filter: blur(2px); 
  width: 65%;

}

.right-overlay, .secondary-right-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  width: 35%;
}

.overlay-content, .secondary-overlay-content{
  position: relative;
  width: 100%;
  height: 100vh;
}

.head-overlay, .secondary-head-overlay{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px;

}

.title-overlay, .secondary-title-overlay{
  color: rgba(55, 55, 55, 1);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin: 0;
}

.close-overlay{
  cursor: pointer;
}

.secondary-actions{
  display: flex;
  gap: 10px;
}

.secondary-actions i{
  font-size: 22px;
  color: rgba(55, 55, 55, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-actions .fa-trash:hover{
  color: #dc3545;
}

.secondary-actions .fa-pen:hover{
  color: #007bff;
}

.secondary-actions .fa-x:hover{
  color: grey;
}

.search-container{
  display: flex;
}

.search{
  width: 100%;
  background-color: rgba(249, 249, 249, 1);
  padding: 15px 10px;
  border-radius: 0 10px 10px 0;
  outline: none;
  border: none;
  color: rgba(71, 71, 71, 1);
}

.icon-search{
  background-color: rgba(249, 249, 249, 1);
  padding: 15px 10px;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: none;
}

.fa-magnifying-glass{
  font-size: large;
  color: rgba(71, 71, 71, 1);
}