.types{
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  padding: 0 25px;
}

.types div{
  background-color: green;
  display: flex;
  gap: 7px;
  align-items: center;
  width: 30%;
  padding: 5px 10px;
  background-color: rgba(249, 249, 249, 1);
  border: 2px solid rgba(55, 55, 55, 1);
  border-radius: 10px;
  cursor: pointer;
}

.blur{
  filter: blur(2px);
}


.buttons{
  position: absolute;
  bottom: 30px;
  right: 25px;
  display: flex;
  gap: 20px;
}

.btn-secondary{
  background-color: transparent;
  color: rgba(55, 55, 55, 1);
  border: none;
  }

.btn-primary{
  background-color: rgba(185, 226, 230, 1);
  color: rgba(55, 55, 55, 1);
  padding: 7px 10px;
  border: none;
}


.custom-form{
  height: calc(100vh - 280px);
  overflow-y: auto;

}

.title-form-div{
  margin-top: 5px !important;
}

.types{
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  padding: 0 25px;
}

.types div{
  background-color: green;
  display: flex;
  gap: 7px;
  align-items: center;
  width: 30%;
  padding: 5px 10px;
  background-color: rgba(249, 249, 249, 1);
  border: 2px solid rgba(55, 55, 55, 1);
  border-radius: 10px;
  cursor: pointer;
}

.blur{
  filter: blur(2px);
}

p{
  margin: 0;
}

.arrow{
  width:35px;
  height:35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-down{
  background-color: rgba(33, 194, 6, 1);
}

.arrow-up{
  background-color: rgba(238, 63, 25, 1);
}

.add{
  background-color: white;
  cursor: pointer;
}


.buttons{
  position: absolute;
  bottom: 30px;
  right: 25px;
  display: flex;
  gap: 20px;
}

.btn-secondary{
  background-color: transparent;
  color: rgba(55, 55, 55, 1);
  border: none;
  }

.btn-primary{
  background-color: rgba(185, 226, 230, 1);
  color: rgba(55, 55, 55, 1);
  padding: 7px 10px;
  border: none;
}